<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon slot="icon-only" name="arrow-back" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Configuración</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Servidor</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-icon slot="start" name="wifi" color="primary"></ion-icon>
            <ion-input label="IP Servidor" labelPlacement="stacked" placeholder="192.168.1.X"
                [(ngModel)]="ipAddress"></ion-input>
            @if (currentIp) {
            <ion-note slot="end">{{ currentIp }}</ion-note>
            }
        </ion-item>
        <div class="ion-padding">
            <ion-button expand="block" (click)="saveIp()">Guardar IP</ion-button>
        </div>

        <ion-list-header>
            <ion-label>Apariencia</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-icon slot="start" [name]="themeService.darkMode() ? 'moon' : 'sunny'" color="warning"></ion-icon>
            <ion-label>Modo {{ themeService.darkMode() ? 'Oscuro' : 'Claro' }}</ion-label>
            <ion-toggle slot="end" [checked]="themeService.darkMode()"
                (ionChange)="toggleDarkMode($event)"></ion-toggle>
        </ion-item>

        <ion-list-header>
            <ion-label>General</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Combo Completo</ion-label>
            <ion-toggle slot="end" [(ngModel)]="comboComplete" (ionChange)="toggleComboSetting()"></ion-toggle>
        </ion-item>

        <ion-list-header>
            <ion-label>Soporte</ion-label>
        </ion-list-header>
        <ion-item lines="none" class="ion-margin-top" (click)="openEmail()">
            <ion-icon slot="start" name="mail"></ion-icon>
            <ion-label>
                <h3>Correo Electrónico</h3>
                <p>info@butterlabs.com.ar</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>