#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.category-card {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #191919;
  background: black;
  border-radius: 8px;
  cursor: pointer;
  padding: 15px;
}

.category-name {
  margin-top: 10px;
  font-weight: 500;
  font-size: 0.9rem;
  color: white;
}

.action-icon,
.fa {
  font-size: 4rem !important;
  color: var(--ion-color-primary) !important;
}

ion-fab-button.mb-2 {
  margin-bottom: 10px;
}