.show-page {
    padding: 5% 5% 5% 5%!important;
    background: color($colors, dark);
}

combo-modal {
    background: color($colors, primary);

    .toolbar-background {
        background: transparent !important;
    }

    .header::after {
        background-image: none !important;
    }

    .header::after {
        background-image: none;
    }

    .content {
        background-color: color($colors, primary) !important;

        .item {
            .text-input {
                font-size: 1.5em;
                color: color($colors, white);
                text-align: center;
            }
        }
    }
    .transparent {
        background: transparent
    }
}
