.table-card {
    padding: 10px;
    border-radius: 10px;
    background: rgb(0, 184, 0);
    color: white;
    border: 2px solid transparent;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.table-number {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.2em;
    margin-bottom: 0;
}

.table-total {
    font-weight: 600;
    margin: 0.3em 0 0.5em 0;
}

.table-people {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0.5em 0 0.3em 0;
}

/* Status Classes */
.table-card.free {
    background: rgb(0, 184, 0);
    color: white;
}

.table-card.occupied {
    background: rgb(0, 184, 0);
    color: white;
}

.table-card.pay {
    background: red;
    color: white;
}

.table-card.prefac {
    background: fuchsia;
    color: white;
}