preference-modal {
    .toolbar-background {
        background: transparent !important;
    }

    .header::after {
        background-image: none !important;
    } // background: rgba(0, 0, 0, 0.5);
    background: color($colors, primary);

    .header::after {
        background-image: none;
    }

    .content {
        background-color: color($colors, gray);

        .item {
            background-color: transparent;

            .text-input {
                //font-size: 1.5em;
                color: color($colors, white);
            }

            .icon {
                z-index: 1;
            }
        }

        .preferences {
            justify-content: center;
            padding-top: 1em;
            padding-bottom: 1em;

            .button {
                padding: 0 1rem;
            }
        }
    }
}
