.empty-state {
    margin-top: 50px;
    color: var(--ion-color-medium);

    .empty-icon {
        font-size: 4rem;
        margin-bottom: 20px;
    }
}

.price {
    font-weight: 600;
    color: var(--ion-color-dark);
}