.quantity {
    font-size: 1.5rem;
    font-weight: bold;
    --background: var(--ion-color-primary);
    --color: white;
    min-width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.table-status {
    text-align: center;
    min-height: 35px;
    --background: rgb(0, 184, 0);
    --color: white;
    font-weight: bold;

    ion-title {
        font-weight: bold;
    }

    &.prefac {
        --background: fuchsia;
        --color: white;
    }

    &.pay {
        --background: red;
        --color: white;
    }
}

.time {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    gap: 4px;

    ion-icon {
        font-size: 1.1em;
    }
}

ion-item {
    --padding-start: 16px;
    --inner-padding-end: 16px;
}

ion-label {
    margin-left: 12px;
}